@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');

.dark {
  background-color: #100F0F;
  color: whitesmoke;
  font-family: 'Chivo Mono', monospace;
  font-size: 12px;
  padding: 2% 2% 25% 2%;

}

.light {
  background-color: white;
  color: #100F0F;
  font-family: 'Chivo Mono', monospace;
  font-size: 12px;
  padding: 2% 2% 25% 2%;
  /* overflow-y:hidden; */

}

.left{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.title{
  margin-top: 24px;
  /* margin-left: 24px; */
  font-size: 72px;
  font-family: 'Londrina Shadow', cursive;
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.desc{
  margin-top: 48px;
  margin-left: 42px;
  font-size: 25px;
  line-height: 1;
  /* margin-left: 24px; */
  /* width: 50%; */

}

.input-area{
  display: flex;
  /* flex-wrap:wrap; */
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 0px;
}

.top{
  display: flex;
  justify-content: space-between;
}


p{
  width: 500px;
  margin-left: 0px;
  margin-top: 0px;

}

.dark #input{
  width: 400px;
  padding: 16px;
  background-color: transparent;
  border-radius: 8px;
  border-color:#ffff;
  color: white;

}


.light #input{
  width: 400px;
  padding: 16px;
  background-color: transparent;
  border-radius: 8px;
  border-color:#100f0f95;
  color:#100F0F;

}


img{
  display: inline-block;
  align-items:center;
  width: 600px;
  margin-top: 24px;
  border-radius: 8px;


}

.dark button{
  padding: 16px;
  border-radius: 8px;
  border: 0.5px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid white;
  margin-left: 12px;
}


.light button {
  padding: 16px;
  border-radius: 8px;
  border: 0.5px;
  background-color: transparent;
  color:#100F0F;
  border: 1px solid #100F0F;
  margin-left: 12px;
}
.switch {
  float: right;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .body{
    margin-left: 24px;
  }

  .body{
    display: flex;
    flex-direction: column;
  }
  .dark{
    max-width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    position: fixed;
    /* object-fit: contain; */
    padding: 2% 2% 100vh 2%;
  }

  .light{
    max-width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    position: fixed;
    /* object-fit: contain; */
  }

  .left {
    display: flex;
    align-content: center;
  }

  .right{
    display: block;
    align-self: center;
    /* float: inline-end; */
  }

  .title{
    font-size: 48px;
  }

  .desc{
    display: none;
  }

  .input-area{
    /* padding-left: 24px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; */
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }

  .light #input{
    display: inline-block;
    width: 200px;
  }

  .dark #input{
    display: inline-block;
    width: 200px;
  }

  .light button {
    padding: 16px;
    border-radius: 8px;
    border: 0.5px;
    background-color: transparent;
    color:#100F0F;
    border: 1px solid #100F0F;
    margin-left: 245px;
  }

  .dark button {
    padding: 16px;
    border-radius: 8px;
    border: 0.5px;
    background-color: transparent;
    color:whitesmoke;
    border: 1px solid #ffffff;
    margin-left: 245px;
  }

  .switch{
    display: inline-block;
    /* float: left; */
  }
}
