@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@1,300&display=swap');


.dark {
  background-color: #100F0F;
  color: whitesmoke;
  font-family: 'Bellota Text', cursive;
  padding: 2% 2% 15% 2%;

}

.light {
  background-color: white;
  color: #100F0F;
  font-family: 'Bellota Text', cursive;
  padding: 2% 2% 15% 2%;
  /* overflow-y:hidden; */

}

.top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.title{
  margin-top: 24px;
  margin-left: 24px;
  font-size: 72px;
  font-family: 'Londrina Shadow', cursive;
}

.body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-evenly; */
  margin-left: 24px;
}

.desc{
  margin-top: 48px;
  margin-left: 42px;
  font-size: 40px;
  line-height: 1;
  /* width: 50%; */

}

.input-area{
  display: flex;
  flex-wrap:wrap;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 0px;
}

.top{
  display: flex;
  justify-content: space-between;
}


p{
  width: 500px;
  margin-left: 0px;
  margin-top: 0px;

}

.dark input{
  width: 400px;
  padding: 16px;
  background-color: transparent;
  border-radius: 8px;
  border-color:#ffff;
  color: white;

}


.light input{
  width: 400px;
  padding: 16px;
  background-color: transparent;
  border-radius: 8px;
  border-color:#100f0f95;
  color:#100F0F;

}


img{
  display: inline-block;
  align-items:center;
  width: 600px;
  margin-top: 24px;
  border-radius: 8px;


}

.dark button{
  padding: 16px;
  border-radius: 8px;
  border: 0.5px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid white;
  margin-left: 12px;
}


.light button {
  padding: 16px;
  border-radius: 8px;
  border: 0.5px;
  background-color: transparent;
  color:#100F0F;
  border: 1px solid #100F0F;
  margin-left: 12px;
}
