@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@1,300&display=swap');


body{
  margin: 16px;
  background-color: #1e1e1e;
  color: whitesmoke;
  font-family: 'Bellota Text', cursive;
}

.landing{
  display: grid;
  /* margin-left: 72px; */
}

.title{
  margin-top: 24px;
  margin-left: 250px;
  font-size: 108px;
  font-family: 'Londrina Shadow', cursive;
}

.body{
  display: flex;
  justify-content: space-evenly;
}

.desc{
  margin-top: 32px;
  margin-left: 250px;
  font-size: 40px;
  /* width: 50%; */
}

.input-area{
  display: flex;
  flex-wrap:wrap;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 250px;
}

.top{
  display: flex;
  justify-content: space-between;
}


p{
  width: 500px;
  margin-left: 250px;
  margin-top: 0px;

}

input{
  width: 400px;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border-color:#ffff;
  color: white;

}


img{
  display: inline-block;
  /* flex-wrap:wrap; */
  align-items:center;
  width: 600px;
  /* height: 600px; */
  margin-top: 24px;
  margin-left: 250px;


}

.button{
  padding: 8px;
  border-radius: 8px;
  border: 0.5px;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid white;
  margin-left: 12px;
}
